.student-quiz-container {
    margin: 20px 50px;
    padding: 20px;
    border: 1px black solid;
    border-radius: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 2px 2px 5px black;
    position: relative;
    min-width: 650px;
}

.student-quiz-title img {
    width: 75px;
    filter: hue-rotate(220deg);
}

.student-quiz-title,
.student-quiz-details {
    display: flex;
    align-items: center;
}

.student-quiz-title-details {
    margin-left: 10px;
}

.student-quiz-name {
    font-size: 24px;
    font-weight: bold;
}

.student-quiz-date {
    font-size: 12px;
}

.student-quiz-details {
    margin-right: 150px;
    justify-content: center;
}

.student-quiz-details p {
    margin: 5px 10px;
    padding: 4px 10px;
    background-color: lightskyblue;
    font-weight: 500;
    border: 1px solid black;
    border-radius: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-preview-quiz {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    position: absolute;
    right: 25px;
    bottom: 20px;
}